.container {
    width: 70%;
    margin: 20px auto;

    .upper {
        text-align: center;
    
        .label {
            margin: 12px 0;
            line-height: 2;
            font-weight: bolder;
        }
        
        .sub-label {
            margin: 6px 12px;
        }
    }

    .lower {
        div {
            margin: 20px 0;
            display: flex;

            label {
                width: 15%;
                min-width: 100px;
                font-weight: bold;
            }

            div {
                margin: 0;
                width: 85%;
                min-width: 100px;
            }
        }
    }
}