.container {
    .upper {
        text-align: center;
    
        .title {
            margin: 12px 0;
            line-height: 2;
            font-weight: bolder;
        }
        
        .sub-title {
            margin: 6px 12px;
        }
    }
}