.feat {
    width: auto;
    height: auto;
    margin: 20px;
    border: 5px solid red;
    display: none;

    &.selected {
        color: white;
        background-color: green;
        border: 1px solid black;
        display: block;
    }
    
    &.available {
        color: black;
        background-color: white;
        border: 1px solid black;
        display: block;
    }
    
    &.unavailable {
        color: white;
        background-color: gray;
        border: 1px solid black;
        display: block;
    }
    
    &.conflicted {
        color: white;
        background-color: lighten(red, 10%);
        border: 1px solid black;
        display: block;
    }
}

.mat-expansion-panel-header-title {
    color: inherit;
    line-height: 2;
}

.mat-accordion .mat-expansion-panel-spacing:last-child, .mat-accordion .mat-accordion.mat-expansion-panel-spacing:first-child {
    margin-bottom: inherit;
    margin-top: inherit;
    margin: 20px;
}