$outside-margin: 10px;
$border-radius-size: 5px;

.feat {
    margin: $outside-margin;
    padding: $border-radius-size;
    border: 1px solid black;
    border-radius: $border-radius-size;

    &.selected {
        color: white;
        background-color: green;
    }
    
    &.available {
        color: black;
        background-color: white;
    }
    
    &.unavailable {
        color: white;
        background-color: gray;
    }
    
    &.conflicted {
        color: white;
        background-color: darken(red, 5%);
    }
}

mat-expansion-panel {
    div {
        padding: 16px 0;

        &:last-child {
            padding: 16px 0 0 0;
        }

        li {
            padding: 4px 0 0 8px;
        }
    }
}

.mat-expansion-panel-header-title {
    color: inherit;
    line-height: 2;
    font-weight: bolder;
}

.mat-accordion .mat-expansion-panel-spacing:last-child, .mat-accordion .mat-accordion.mat-expansion-panel-spacing:first-child {
    margin: $outside-margin;
}