#holder {
    width: 95%;
    height: 80vh;
    border: 1px solid lightgray;
    margin: 5vh auto 5vh;
    background-color: white;
    overflow: auto;
    display: flex;
}

/*
.feat-area {
    width: auto;
    height: auto;
    padding: 20px;
    border: 1px solid green;
    display: flex;
    flex-wrap: wrap;
}
*/